/*

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
*/

ul {
    list-style: none;
    display: flex;      /* novo */
    align-items: flex-start;
}

li {
    padding: 3px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.header,
.footer,
.box-one,
 a  {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display:flex;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;
}

.links {
    display:flex;
}

.box-one {
    display: flex;
    justify-content: space-between;
    align-items: center; /* ovo je novo */
    padding-left: 10px;
    padding-bottom: 44px;
}


.one-one {
    display: flex;
    flex-direction: column;
    padding-bottom: 46px;
    
}
  

.footer {
    display: flex;
    justify-content: center;
    margin-top:auto;  /* OVO ne radi, skontaj kako da gurnes na dno strane */
}

.op {
    
    width: auto;
    height: 164px;
    padding: 10px;
}

.header-two {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.context {
    color: #F9FAF8;
    font-size: 18px;
    word-wrap: normal;
}

.sign-up {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: start;
}

/* box-two */

.two-one {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 20px;
}

.two-two {
    display:flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 66px;
    
}

.si {
    height: 100px;
    width: auto;
    border: solid 3px rgb(0, 119, 255); 
    border-radius: 10px;
}

.img-one {
    display: flex;
    flex-direction: column;
    flex: 0 1 200px;
    align-items: center;
    text-align: center;
}

/* THIRD BOX */

.box-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
}

.author {
    margin-left: 1200px;
    margin-top: -24px;
    margin-bottom: 100.5px;
    
}

.citation {
    margin-top: 100.5px;
}